extends layout

append head
  title #{page_title}
block content
  div#main.container.post
    div.content
      article.post.block
        h1.title #{post.title}
        div.meta
          time #{post.created}
        div.entry !{post.content}
      - if(comments.length>0){
      div#comments.block
        ol.commentlist
          - for (var i=0;i<comments.length;i++){
            li(id="comment-"+comments[i]._id, class="comment clearfix")
              img(width="36",height="36",class="avatar",src=comments[i].avatar,alt="")
              .content
                .info
                  -if(typeof comments[i].url == "undefined"){
                  span.reviewer #{comments[i].author}
                  - }else{
                  a.reviewer(href=comments[i].url, rel='external nofollow') #{comments[i].author}
                  -}
                  time(datetime=comments[i].created) #{comments[i].created.substring(0,10)}
                  div.floor #{i+1}
                #commentbody-53684.description(itemprop='description') !{comments[i].content}
          - }
      - }

      div#reply.block.inner
        form#cmtform(action="/comment",method='post')
          #respond.clearfix
            #reviewer-info
              .row
                input#author.textfield(type='text', name='a_uthor', value='', size='24', tabindex='1',required='')
                label.small(for='a_uthor') Name (required)
              .row
                input#email.textfield(type='email', name='e_mail', value='', size='24', tabindex='2',required='')
                label.small(for='e_mail') Email (required)
              .row
                input#url.textfield(type='text', name='u_rl', value='', size='24', tabindex='3')
                label.small(for='u_rl') Website
              .row
                textarea#comment(name='c_ontent', tabindex='4', rows='7', cols='50',required='')
              .row
                input#comment-submit.button(name='submit', type='submit', tabindex='5', value='Post Comment')
                input(name="id",value=post._id,type="hidden")
                input(name="slug",value=post.slug,type="hidden")
