<section id="main" class="container">
  <div class="content">
    <section class="posts">
      <%posts.forEach(function(item){%>
      <article class="post block">
        <h2 class="title">
          <a href="/post/<%=item.slug%>"><%=item.title%></a>
        </h2>
        <div class="meta">
          <time><%=locals.moment(item.created).format("L")%></time>
        </div>
        <div class="entry"><%-item.content%></div>
      </article>
      <%})%>
      <div class="navigation block">
        <table width='100%'>
          <tbody>
          <tr>
            <td width='120' align='left'>
              <%if(crtP>1){%>
              <div class="alignleft">
                <a href="/p/<%=(crtP - 1)%>">上一页</a>
              </div>
              <%}%>
            </td>
            <td width='auto' align='center'>
              <strong class="fade">
                <%=crtP%>/<%=maxP%>
              </strong>
            </td>
            <td width='120' align='right'>
              <%if(nextP>crtP){%>
              <div class="alignright">
                <a href="/p/<%=nextP%>">下一页</a>
              </div>
              <%}%>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>