<section id="main" class="container">
  <section class="posts block">
    <%posts.forEach(function(item){%>
    <article class="post">
      <h2 class="title">
        <a href="/post/<%=item.slug%>"><%=item.title%></a>
      </h2>

      <div class="meta">
        <time><%=item.created%></time>
      </div>
      <div class="entry"><%-item.content%></div>
    </article>
    <%})%>
  </section>
  <div id="navigation">
    <table width='100%'>
      <tbody>
      <tr>
        <td width='120' align='left'>
          <%if(crtP>1){%>
          <div class="alignleft">
            <a href="/p/<%crtP - 1%>">上一页</a>
          </div>
          <%}%>
        </td>
        <td width='auto' align='center'>
          <strong class="fade">
            <%=crtP%>/<%=maxP%>
          </strong>
        </td>
        <td width='120' align='right'>
          <%if(nextP>crtP){%>
          <div class="alignright">
            <a href="/p/<%=nextP%>">下一页</a>
          </div>
          <%}%>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="sidebar block">
    <div class="widget about">
      <strong class="wt">关于我</strong>
      <div class="wc">
        <p>
          <img src="http://sfault-avatar.b0.upaiyun.com/249/218/2492188166_medium40" alt="willerce" align="left"
               style="margin-right: 7px;">willerce，前端工程师，强迫、偏执症；就职于<a href="http://tongbu.com/" target="_blank">同步网络</a>
          <sup><a href="http://hr.tongbu.com/" title="同步网络招聘" target="_blank">join</a></sup><br/>关注前端技术、用户体验，欢迎交流。<br/>GTalk:
          willerce@gmail.com
        </p>
        <div class="sep10"></div>
        <p class="social">
          <span>
            <i class="icon-feed"></i>
            <a href="http://feeds.feedburner.com/willerce" target="_blank">订阅</a>
          </span>
          <span>
            <i class="icon-weibo"></i>
            <a href="http://weibo.com/willerce" target="_blank">关注我</a>
          </span>
          <span>
            <i class="icon-twitter"></i>
            <a href="http://twitter.com/willerce" target="_blank">Follow Me</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>